<div class='w3-preloader'></div>
<div class='w3-col s12' id="hpe_global_header"></div>
<div class="error-404">
<h1>Oops!!</h1>
<h3>The page you are looking for might have been removed</h3>
<h3>had its name changed or its temporarily unavailable </h3>
<a href="{{ url('<front>') }}"><button type="button">Go to Homepage</button></a>
</div>

 <div class='w3-col s12' id="hpe_global_footer"></div>

	
